<h1>Login</h1>

<%= form_for :user do |form| %>
	<%= form.email_field :email, placeholder: "Enter email" %>
	<%= form.password_field :password, placeholder: "Enter password" %>
	<%= form.submit 'Login', class: 'btn waves-effect waves-light' %>
<% end %>