
  <div id="index-banner">
    <div class="section no-pad-bot header-banner" style="background-image:url('imageheader.jpg');background-size:100%">
      <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text text-darken-3">Dream Big with my.Life</h1>
        <div class="row center">
          <h5 class="header col s12 light">Reach your goals every time!</h5>
        </div>
        <div class="row center">
          <a href="/signup" class="btn-large waves-effect waves-light amber white-text">Sign Up Today</a>
        </div>
        <br><br>

      </div>
    </div>
  </div>

<div style="width:100%" class="white">
  <div class="container white">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text"><i class="material-icons">mode_edit</i></h2>
            <h5 class="center">Customize Your Goals</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco non provident, similique sunt in culpa.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text"><i class="material-icons">turned_in_not</i></h2>
            <h5 class="center">Plan the Awesome Life of your Dreams</h5>

            <p class="light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text"><i class="material-icons">today</i></h2>
            <h5 class="center">Never Miss a Deadline</h5>

            <p class="light">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate officia deserunt mollitia animi.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>