
  <div class="container">
    <div class="section">
    	<div class="row">
    		<div class="col s12 center">
    		  <h3>New Goal</h3>
    		</div>
    	</div>
      <div class="row">
        <div class="col s12">
					<div class="card-panel card-show lighten-5">
						<%= render "posts/form" %>
						<hr class="blue-grey lighten-4">
						<%= link_to "< Back", main_path %>


					</div>	
        </div>
      </div>

    </div>
  </div>





